*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
    
}

/** Nav Bar **/

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}

/** Amazon Logo **/ 

.nav-logo{
    height:50px;
    width: 113px;
    
}

.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height:50px;
    width:113px;
}

.border{
    border: 2px solid transparent;
}

.border:hover {
    border: 1.5px solid white;
}

/** Nav Address Location **/

.add-first{
    color:#cccccc;
    font-size: 0.85rem;
    margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display:flex;
    align-items: center;
}

/** Nav Search Bar **/

.nav-search{
    display: flex;
    width:750px;
    height:40px;
    border-radius: 4px;
    justify-content: space-evenly;
    
}

.search-select{
    width:50px;
    background-color: #f3f3f3;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border:none;
}

.search-input{
    width:100%;
    font-size: 1rem;
    border:none;
    padding-left: 10px;

}

.search-icon{
    width:45px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
    background-color: #F3A846;
    color: #0f1111;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

/** Nav - Language Select **/

.nav-language{
    display: flex;
    justify-content: center;
    align-items: center;
    height:50px;
    width:73px;
    
}

.language-first{
    height:21px;
    width:21px;
    margin: 0px 2px 1px 0px;
}

.language-one{
    height:21px;
    width:21px;
    margin: 0px 2px 1px 0px;
}

.language-second{
    background-color: transparent;
    color:white;
    border:none;
    font-weight:bolder;   
}

/** Nav - Sign In **/

.sign-in-first{
    
    color:#ffffff;
    font-size: 12px;
    height: 14px;
    width: 70px;
    margin-right:0px;
    padding-left: 5px;

}
   
.sign-in-two{
    display: flex;
    align-self: center;
    background-color: transparent;
    color: #ffffff;
    font-size: 14px;
    font-weight: bolder;
    border:none;
    height:15px;
    width: 135px;
}

/** Nav - Returns & Orders **/

.nav-returns{
    height: 14px;
    width: 60px;
    color: #ffffff;
    font-size: 12px;
}

.nav-orders-one{
    height: 15px;
    width: 60px;
    color: #ffffff;
    font-size: 14px;
    display:flex;
    align-self: center;
    font-weight: bolder;
}

/** CART **/

.cart-first  {
    font-size: 30px;
    display: flex;
    justify-content: center;

}

.cart-first p{
    font-size: 16px;
    padding: 14px 0px 0px 2px;

}

.cart-second-one p{
    font-size: 14px;
    margin: 30px;
    margin-left: 50px;

}


/** Panel **/

.panel{
    background-color: #222F3E;
    height: 39px;
    width: 100%;
    display: flex;
    color: #ffffff;
    gap: 20px;
    font-size: 14px;
    
}

.all{
    display: flex;
    align-items: center;
    margin-left: 20px;
    gap:5px;
}



.today-deals {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 2px solid transparent;
    
}

/** Hero Section **/

.hero-image img {
    height: 600px;
    width: 100%;
    
   
}

.redirect-bar{
    height: 40px;
    width: 1400px;
    background-color: #F5F6F6;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
    bottom:355px;
    margin-left: 20px;
    gap: 5px;
    
}

.redirect-bar a{
    text-decoration: none;
    color: #007185;
    
}


/** Main Section **/

.main-section{
    background-color: #E3E6E6;
    width:100%;
    height:2000px;
    
}

.categories{
    
    display: flex;
    
    position: relative;
    bottom:335px;
    flex-wrap: wrap;
    margin-left: 10px;
    


}


.categories h2{
    font-size: 21px;
    padding-left: 20px;

}

.categories img{
    
    width: 305px;
    height: 290px;
    padding: 20px 0px 0px 15px;
    margin-bottom: 20px;

}

.categories a{
    color: #007185;
    font-size: 13px;
    text-decoration: none;
    margin: 15px;
    
    
    
}


.category1{
    background-color: white;
    height:395px;
    width: 335px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin:10px 10px 10px 10px;
    
    
    
}

.category2{
    background-color: white;
    height:395px;
    width: 335px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 10px 10px 10px;
    
}

.section1{
    margin:20px 0px 20px 20px;
    background-color: white;
    height: 281px;
    width: 1400px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 340px;
    flex: wrap;
}

.section1 h2{
    font-size: 21px;
    color:#0f1111;
    display: flex;
    position: absolute;
    top: 15px;
    padding-left: 20px;
}

.section1 img {
    
    display: inline block;
    margin-left: 60px;
    
}

.section2{
    margin:20px 0px 20px 20px;
    background-color: white;
    height: 281px;
    width: 1400px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 340px;
    flex: wrap;

}

.section2 h2{
    font-size: 21px;
    color:#0f1111;
    display: flex;
    position: absolute;
    top: 15px;
    padding: 0px 0px 0px 20px;
    
}

#image1 {
    margin-left: 20px;
}

.section2 img {
    
    display: inline block;
    margin-left: 12px;
    
}

.categories2{
    
    display: flex;
    
    position: relative;
    bottom:335px;
    flex-wrap: wrap;
    margin-left: 10px;
    


}

.categories2 h2{
    font-size: 21px;
    padding-left: 20px;

}

.categories2 img{
    
    width: 305px;
    height: 290px;
    padding: 20px 0px 0px 15px;
    margin-bottom: 20px;

}

.categories2 a{
    color: #007185;
    font-size: 13px;
    text-decoration: none;
    margin: 15px;
    
    
    
}

.category3{
    background-color: white;
    height:395px;
    width: 335px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10px 10px 10px 10px;

}

.section3{
    margin:20px 0px 20px 20px;
    background-color: white;
    height: 281px;
    width: 1400px;
    display: flex;
    align-items: center;
    position: relative;
    bottom: 340px;
    flex: wrap;
    

}

.section3 h2{
    font-size: 21px;
    color:#0f1111;
    display: flex;
    position: absolute;
    top: 15px;
    padding: 0px 0px 0px 20px;
    
}

#image2 {
    margin-left: 20px;
}

.section3 img {
    
    display: inline block;
    margin-left: 12px;
    
}

/** Footer Section **/

.backtotop{
    height:49px;
    width: 100%;
    font-size: 13px;
    background-color: #485768;
    color: white;
    display: flex;
    justify-content: center;
    align-items:center;
    position: relative;
    bottom: 25px;

}

.mainfootersection{
    height: 400px;
    width: 100%;
    background-color: #232F3E;
    
    display:flex;
    position: relative;
    bottom: 25px;
    align-items: center;
    font-size: 14px;
    
    
    
}

.mainfootersection ul {
    list-style-type: none;
     
}

.mainfootersection li{
    margin-bottom: 13px;
    color: #DDDDDD;
    
}

.mainfootersection h3{
    color: #FFFFFF;
}

.mainfootersection1 {
   position: relative;
   bottom: 50px;
   margin-right: 80px;
   left: 280px;
}

.mainfootersection2 {
    position: relative;
    bottom: 22px;
    left: 300px;

 }

 .mainfootersection3 {
    position: relative;
    bottom: 80px;
    left: 360px;
 }

 .mainfootersection4 {
    position: relative;
    bottom: 22px;
    left: 420px;
 }


 .lastfootersection{
    height: 120px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: center;
    position: relative;
    bottom: 24.7px;
    align-items: center;
    gap: 90px;
 }

.amimage{
    height:55px;
    width:95px;
    
}

.lastfootersection2{
    display: flex;
    gap: 8px;
}

.langselect{
    width:117px;
    height:33px;
    background-color: transparent;
    color: white;
    padding-left: 3px;
    
}

.curr{
    width:170px;
    height:33px;
    background-color: transparent;
    color: white;
    padding-left: 3px;
}

.country{
    width:140px;
    height:33px;
    background-color: transparent;
    color: white;
    padding-left: 3px;
}





